
@{
    ViewData["Title"] = "StockEntry";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2 class="Title">Update Stock </h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form class="form-horizontal form-label-left" id="frmAddStock">

                <input type="hidden" id="txtProductId" name="ProductId" />


                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Enter Product Code</label>
                    <div class="input-group">
                        <div class="col-md-8 col-sm-8 ">
                            <input type="text" class="form-control" id="txtProductCode" name="ProductCode">
                        </div>
                        <span class="input-group-btn">
                            <button type="button" id="btnGetProduct" class="btn btn-primary">Go!</button>
                        </span>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Product Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="txtProductName" required="required" class="form-control " readonly="readonly">
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Cost Price <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="txtcostPrice" required="required" class="form-control" readonly="readonly">
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Selling Price <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="txtsellingPrice" required="required" class="form-control" readonly="readonly">

                    </div>
                </div>


                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        Available Stock <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="first-name" required="required" class="form-control ">
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        New Stock / Quantity <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="txtQuantity" name="Quantity" required="required" class="form-control ">
                    </div>
                </div>


                <div class="ln_solid"></div>
                <div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="button" id="btnSubmit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="divLoader" style="display:none;" class="loader">

    <img src="~/loaders/loading-23.gif" alt="Loader" style="width:20em;" />

</div>

<style>

    .success {
        background: #26B99A;
        color: #fff;
    }

    .danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .Header {
        font-weight: 600;
        color: #45ca9f;
        font-size: 1.1rem;
        max-width: calc(100% - 40px);
    }


    .loader {
        position: fixed;
        width: 256px;
        height: 256px;
        top: 50%;
        left: 50%;
        margin: -128px 0 0 -128px;
        z-index: 1000;
    }

    .Title {
        font-weight: 600;
        color: #45ca9f;
        font-size: 1.5rem;
        line-height: 70px;
        max-width: calc(100% - 40px);
    }
</style>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/sweetalart/sweetalert.min.css" rel="stylesheet" />
<script src="~/sweetalart/sweetalert.min.js"></script>


<script>


    $("#btnSubmit").click(function () {

        if ($('#txtProductCode').val() == '') {
            $('#txtProductCode').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Name is a required field",
                showConfirmButton: true,
            });

            return false;
        }



        $("#divLoader").show();


        var data = $("#frmAddStock").serialize();

        $.ajax({

            type: "POST",
            url: "/Admin/StockControl/Create",
            data: data,

            success: function (response) {
                if (response.success) {

                    swal({
                        position: 'top-end',
                        type: "success",
                        title: response.responseText,
                        showConfirmButton: false,

                    }), setTimeout(function () { location.reload(); }, 3000);
                    $("#divLoader").hide();
                } else {

                    swal({
                        position: 'top-end',
                        type: "error",
                        title: response.responseText,
                        showConfirmButton: true,
                        timer: 5000,
                    });

                }
            },

            error: function (response) {
                alert("error!");

            }
        })

    })




    $('#btnGetProduct').click(function () {

        if ($('#txtProductCode').val() == '') {
            $('#txtProductCode').focus();
            swal({
                position: 'top-end',
                type: "error",
                title: "Please enter product code",
                showConfirmButton: true,
            });

            return false;
        }

        var productCode = $('#txtProductCode').val();


        $.ajax({
            url: '/Admin/Products/GetByProductCode/',
            data: { 'productCode': productCode },
            type: "post",
            cache: false,
            success: function (record) {

                if (record.data == false) {

                    swal({
                        position: 'top-end',
                        type: "error",
                        title: "Product code could not be found",
                        showConfirmButton: true,
                    });
                }

                else {
                    console.log(record);

                    $("#txtProductId").val(record.data.id);

                    $("#txtProductName").val(record.data.fullProductName);

                    $("#txtsellingPrice").val(parseFloat(record.data.sellingPrice).toFixed(2));

                    $("#txtcostPrice").val(parseFloat(record.data.costPrice).toFixed(2));

                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                $('#lblCommentsNotification').text("Error encountered while saving the comments.");
            }
        });


    });



</script>